header {
  padding-top: 120px;
  height: 520px;
  width: 100%;
  display: flex;
  background-color: var(--header-bg-color);
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--header-font-color);

  h2 {
    font-weight: var(--body-font-weight-normal);
  }
}


/* Desktop styles */

@media screen and (min-width: 1024px) {
  header {
    width: 30%;
    float: left;
    margin: 5%;
    padding-top: 0;
    margin-top: 200px;
    height: 400px;
    max-width: 600px;
  }
}