nav {
  display: flex;
  height: 120px;
  width: 100%;
  top: 0;
  background-color: transparent;
  position: fixed;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

nav span {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
}

nav ul {
  list-style-type: none;
  text-align: center;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}

nav button {
  background: transparent;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
  padding: 4px;
}

nav i {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: top;
}


/* tablet styles */

@media screen and (min-width: 768px) {
  nav {
    background-color: #4056A1;
  }
  
}

@media screen and (min-width: 1024px) {
  
  nav ul:hover i {
    animation-name: bounce;
    animation-timing-function: ease;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0)
    }
  }

}
