article.tweet {
  border: solid;
  display: flex;
  flex-direction: column;
  border-color: #545149;
  border-width: 3px;
  margin-top: 1em;
  padding: .5em;
}

article.tweet header {
  display:flex;
  flex-direction: row;
  background: none;
  margin: auto;
  height: auto;
  color: #545149;
  justify-content: space-between;
  padding:.5em;
  margin:0;
}

article.tweet header .userInfo {
  display: flex;
  align-items: center;

}

article.tweet header .userInfo img {
  height:fit-content;
  padding-right: 0.5em;
}

article.tweet h2 {
  margin:0;
}

article.tweet h3 {
  color:#CECCDA;
  font-weight: 300;
  margin:0;
}

article.tweet:hover {
  box-shadow: 6px 6px #CECCDA;
}

article.tweet p {
  border-bottom: solid 3px #545149;
  padding: 1em;
  text-align: left;
  margin: 0;

}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
  padding: .5em;
}
  
article.tweet footer time {
  font-size: .75em;
}

article.tweet footer .interactions {
  color: #4056A1;
}

article.tweet footer .interactions i {
  padding: 2px
}

article.tweet footer .interactions i:hover {
  color: #f0ad05;
}


/* Desktop styles */

@media screen and (min-width: 1024px) {
  article.tweet header {
    width: 100%
  }
}
